<div class="row no-gutters">
  <div class="col team-container blue-team">
      <%= for player <- Enum.filter(@players, fn p -> p.team_id == 0 end) do %>
      <div class="row no-gutters hero-container hero-container-blue">
        <div class="col-sm-auto d-none d-md-block">
          <img class="hero-image" src="<%= static_path(@conn, get_hero_image_path(player)) %>" />
        </div>
        <div class="col hero-text">
          <span class="hero-name"><%= player.hero %></span><br />
          <span class="player-name"><%= player.name %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div>&nbsp;</div>
  <div class="col team-container red-team">
    <%= for player <- Enum.filter(@players, fn p -> p.team_id == 1 end) do %>
      <div class="row no-gutters hero-container hero-container-red">
        <div class="col hero-text">
          <span class="hero-name"><%= player.hero %></span><br />
          <span class="player-name"><%= player.name %></span>
        </div>
        <div class="col-sm-auto d-none d-md-block">
          <img class="hero-image" src="<%= static_path(@conn, get_hero_image_path(player)) %>" />
        </div>
      </div>
    <% end %>
  </div>
</div>
