<%= render StormcasterWeb.ReplayView, "block_player_listing.html", conn: @conn, replay: @replay, players: @players %>

<div class="row">
  <%= for e <- @timeline do %>
  <div class="col-sm text-center">
    <%= render_replay_event(e) %>
  </div>
  <% end %>
</div>
